
<div class="container">
    <h1>My Personal Home Dashboard</h1>
    <p>You can read more about this module</p>
    <a href="about.html" class="btn btn-primary">About Me</a>
    <%= link_to "Blog", posts_path, class:"btn btn-primary" %>
</div>

